@font-face {
  font-family: "lionzcss";
  src: url("/fonts/lionzcss.woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;
  div.message-alert {
    position: absolute;
    bottom: 1rem;
    z-index: 9;
    margin-left: 2rem;
    color: #fff;
    font-family: "Open Sans";
    padding: 0.8rem 1rem;
    transition: 0.6s transform, 0.3s opacity;
    transform: translateX(-50rem);
    opacity: 0;
    pointer-events: none;
    font-size: 0.95rem;
    i {
      margin-left: 0.5rem;
    }
    &.show {
      transform: translateX(-0rem);
      opacity: 1;
    }
  }
  form.popup {
    position: absolute;
    z-index: 9;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1.5rem 1.3rem;
    font-family: "Open Sans";
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    small {
      margin-top: 0.5rem;
    }
    h3 {
      margin: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    p {
      width: 17rem;
      font-size: 0.9rem;
      margin-top: 0.5rem;
      a {
        color: #333;
        font-weight: bold;
      }
    }
    input {
      background-color: #f5f5f5;
      padding: 0.7rem;
      margin-bottom: 1rem;
      border: none;
      font-size: 1rem;
      border-radius: 3px;
      font-family: "Open Sans";
    }
  }
  .loader {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    z-index: 100;
    transition: opacity 0.3s;

    svg {
      width: 2em;
      animation: rot 1s linear infinite;
    }

    &.stop svg {
      animation: none;
    }

    &.stop {
      display: none;
    }
  }

  @keyframes rot {
    100% {
      transform: rotate(360deg);
    }
  }

  div.settings {
    position: absolute;
    top: 50%;
    z-index: 2;
    width: 40rem;
    left: 50%;
    transform: translate(-50%, -150%) scale(0);
    color: #fff;
    border: 3px solid #444857;
    border-radius: 4px;
    padding: 1.5rem;
    max-height: 85%;
    // background-color: #252830;
    overflow-y: auto;
    overflow-x: hidden;
    opacity: 0;
    transition: 0.3s opacity;
    pointer-events: none;

    &.active {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
      pointer-events: All;
    }

    &::-webkit-scrollbar {
      width: 2px;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
      background: #444857;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #444857;
    }

    .header-project-settings {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 0.8rem;
      margin-bottom: 1rem;

      h3 {
        margin: 0;
        font-family: "Open Sans";
        font-size: 1.05rem;
        display: flex;
        align-items: center;

        i {
          margin-left: 0.7rem;
          margin-top: 0.25rem;
        }
      }

      .close {
        width: 1.3rem;
        height: 1.3rem;
        background-color: #444857;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
    }

    form.options {
      position: relative;
      width: calc(100% - 1rem);
      display: flex;
      flex-direction: column;

      .option {
        position: relative;
        display: flex;
        flex-direction: column;
        border-left: 3px solid #444857;
        background: linear-gradient(
          to right,
          rgba(147, 155, 187, 0.096),
          rgba(113, 119, 144, 0)
        );
        width: calc(100% - 0.1rem);
        padding: 1rem;
        font-size: 0.9rem;
        margin-bottom: 1rem;
        font-family: "Open Sans";
        span.visibilty {
          position: absolute;
          z-index: 3;
          color: #000;
          top: 3.6rem;
          right: 0;
          margin-right: 2rem;
          text-decoration: underline;
          cursor: pointer;
        }
        &.title-01 {
          display: none;
        }
        h4 {
          margin: 0;
          display: flex;
          align-items: center;
          justify-content: space-between;

          i {
            font-size: 1rem;
          }
        }

        input {
          margin-top: 0.7rem;
          padding: 0.8rem;
          font-size: 1rem;
          border-radius: 4px;
          background-color: #fff !important;
          border: none;
          outline-color: black;
        }

        textarea {
          margin-top: 0.7rem;
          border-radius: 4px;
          padding: 0.8rem;
          background-color: #fff !important;
          border: none;
          outline-color: black;
          max-width: calc(100% - 1.8rem);
          font-family: "Open Sans";
          font-size: 0.9rem;
          max-height: 10rem;
        }

        b {
          margin-left: 0.2rem;
          font-size: 0.9rem;
          margin-top: 0.5rem;

          i {
            margin-right: 0.1rem;
          }
        }

        small {
          margin-top: 0.3rem;
          margin-left: 0.1rem;

          span {
            font-weight: bold;
          }
        }
      }
    }
  }

  main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    z-index: 1;
    background-color: #fafafa;
    transition: 0.3s filter;

    &.br-50 {
      filter: brightness(0.5);
      pointer-events: none;
    }

    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #fff;
      font-family: "Open Sans";
      height: 4.5rem;

      div.logo-section {
        margin-left: 1rem;

        svg {
          fill: #fff;
          width: 5rem;
          height: 4rem;
        }
      }

      div.header-project-section {
        margin-left: 4rem !important;
        span {
          display: flex;
          align-items: center;
          flex-direction: column;

          b {
            display: flex;
            align-items: center;
            justify-content: center;

            div.container-edit {
              position: relative;

              &.sh-inp {
                input {
                  display: block;
                }

                ~ i {
                  margin-left: 0.7rem;
                }
              }

              input {
                position: absolute;
                width: calc(100% + 1.4rem);
                height: 100%;
                bottom: 0;
                left: 0rem;
                font-size: 1rem;
                margin-top: 0.1rem;
                border: none;
                outline: none;
                background-color: inherit;
                background-color: #333;
                font-weight: bold;
                color: #fff;
                display: none;
              }

              span.title {
                display: block !important;
                white-space: nowrap;
                text-overflow: ellipsis;
                white-space: nowrap;
                max-width: 20rem;
                overflow: hidden;
              }
            }

            i {
              font-size: 0.8rem;
              margin-left: 0.2rem;
              margin-bottom: 0.1rem;
              cursor: pointer;
            }
          }
        }
      }

      .controls {
        display: flex;
        align-items: center;
        margin-right: 1rem;

        button {
          height: fit-content;
          display: flex;
          align-items: center;
          padding: 0.5rem 0.8rem !important;

          &:first-of-type {
            margin-right: 0.3rem;
          }

          &:hover {
            color: #000 !important;
            box-shadow: none !important;
          }
        }

        i {
          margin-left: 1rem;
          font-size: 1.3rem;
          cursor: pointer;

          &.icn-cog {
            margin: 0 !important;
          }
        }

        svg {
          width: 1rem;
          height: 1rem;
          fill: currentColor;
        }
      }
    }

    section {
      position: absolute;
      width: 100%;
      top: 4.5rem;
      height: calc(100% - 4.5rem);
      left: 0;
      display: flex;
      justify-content: center;
      overflow: hidden;
      #Editor {
        width: 100%;
        height: 100% !important;

        #toolbar-container {
          .ck.ck-toolbar {
            border: none;
            border-bottom: 1px solid var(--ck-color-toolbar-border) !important;
            padding-top: 1rem;
            max-width: 100%;
          }
        }

        #editor {
          height: calc(100% - 4.5rem) !important;
          max-width: 100%;

          &.ck-focused {
            border: none !important;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  body {
    main {
      nav {
        .header-project-section {
          display: none;
        }

        div.logo-section {
          margin-left: 0.5rem !important;
        }

        div.controls {
          margin-right: 0.5rem !important;
        }
      }

      section {
        #Editor {
          .ck.ck-toolbar {
            padding-top: 0rem !important;
          }
        }
      }
    }

    .settings {
      width: calc(100% - 2.5rem) !important;
      top: 1rem !important;
      left: 50% !important;
      transform: translate(-50%, 0%) !important;
      padding: 1rem 0.7rem !important;
      max-height: 90% !important;

      form.options {
        .option {
          padding: 1rem 0.5rem !important;
          width: 100% !important;
          &.title-01 {
            display: flex !important;
          }
        span.visibilty {
          margin-right: 1rem !important;
        }
        }
      }
    }
  }
}
