@font-face {
  font-family: "lionzcss";
  src: url("/fonts/lionzcss.woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  overflow: hidden;
}

body div.settings {
  position: absolute;
  top: 50%;
  z-index: 2;
  width: 40rem;
  left: 50%;
  -webkit-transform: translate(-50%, -150%) scale(0);
          transform: translate(-50%, -150%) scale(0);
  color: #fff;
  border: 3px solid #444857;
  border-radius: 4px;
  padding: 1.5rem;
  max-height: 85%;
  overflow-y: auto;
  overflow-x: hidden;
  opacity: 0;
  -webkit-transition: .3s opacity;
  transition: .3s opacity;
  pointer-events: none;
}

body div.settings.active {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  pointer-events: All;
}

body div.settings::-webkit-scrollbar {
  width: 2px;
}

body div.settings::-webkit-scrollbar-track {
  background: #f1f1f1;
}

body div.settings::-webkit-scrollbar-thumb {
  background: #444857;
}

body div.settings::-webkit-scrollbar-thumb:hover {
  background: #444857;
}

body div.settings .header-project-settings {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: .8rem;
  margin-bottom: 1rem;
}

body div.settings .header-project-settings h3 {
  margin: 0;
  font-family: "Open Sans";
  font-size: 1.05rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body div.settings .header-project-settings h3 i {
  margin-left: .7rem;
  margin-top: .25rem;
}

body div.settings .header-project-settings .close {
  width: 1.3rem;
  height: 1.3rem;
  background-color: #444857;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

body div.settings div.options {
  position: relative;
  width: calc(100% - 1rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body div.settings div.options .option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-left: 3px solid #444857;
  background: -webkit-gradient(linear, left top, right top, from(rgba(147, 155, 187, 0.096)), to(rgba(113, 119, 144, 0)));
  background: linear-gradient(to right, rgba(147, 155, 187, 0.096), rgba(113, 119, 144, 0));
  width: calc(100% - .1rem);
  padding: 1rem;
  font-size: .9rem;
  margin-bottom: 1rem;
  font-family: "Open Sans";
}

body div.settings div.options .option h4 {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body div.settings div.options .option h4 i {
  font-size: 1rem;
}

body div.settings div.options .option input {
  margin-top: .7rem;
  padding: .8rem;
  font-size: 1rem;
  border-radius: 4px;
  background-color: #fff !important;
  border: none;
  outline-color: black;
}

body div.settings div.options .option textarea {
  margin-top: .7rem;
  border-radius: 4px;
  padding: .8rem;
  background-color: #fff !important;
  border: none;
  outline-color: black;
  max-width: calc(100% - 1.8rem);
  font-family: "Open Sans";
  font-size: .9rem;
  max-height: 10rem;
}

body div.settings div.options .option b {
  margin-left: .2rem;
  font-size: .9rem;
  margin-top: .5rem;
}

body div.settings div.options .option b i {
  margin-right: .1rem;
}

body div.settings div.options .option small {
  margin-top: .3rem;
  margin-left: .1rem;
}

body div.settings div.options .option small span {
  font-weight: bold;
}

body main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  z-index: 1;
  background-color: #fafafa;
  -webkit-transition: .3s filter;
  transition: .3s filter;
}

body main.br-50 {
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
  pointer-events: none;
}

body main nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-family: "Open Sans";
  height: 4.5rem;
}

body main nav div.logo-section {
  margin-left: 1rem;
}

body main nav div.logo-section svg {
  fill: #fff;
  width: 5rem;
  height: 4rem;
}

body main nav div.header-project-section span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main nav div.header-project-section span b {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main nav div.header-project-section span b div.container-edit {
  position: relative;
}

body main nav div.header-project-section span b div.container-edit.sh-inp input {
  display: block;
}

body main nav div.header-project-section span b div.container-edit.sh-inp ~ i {
  margin-left: .7rem;
}

body main nav div.header-project-section span b div.container-edit input {
  position: absolute;
  width: calc(100% + 1.4rem);
  height: 100%;
  bottom: 0;
  left: 0rem;
  font-size: 1rem;
  margin-top: .1rem;
  border: none;
  outline: none;
  background-color: inherit;
  background-color: #333;
  font-weight: bold;
  color: #fff;
  display: none;
}

body main nav div.header-project-section span b div.container-edit span.title {
  display: block !important;
  white-space: nowrap;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 20rem;
  overflow: hidden;
}

body main nav div.header-project-section span b i {
  font-size: .8rem;
  margin-left: .2rem;
  margin-bottom: .1rem;
  cursor: pointer;
}

body main nav .controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1rem;
}

body main nav .controls button {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .5rem .8rem !important;
}

body main nav .controls button:first-of-type {
  margin-right: .3rem;
}

body main nav .controls button:hover {
  color: #000 !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

body main nav .controls i {
  margin-left: 1rem;
  font-size: 1.3rem;
  cursor: pointer;
}

body main nav .controls i.icn-cog {
  margin: 0 !important;
}

body main nav .controls svg {
  width: 1rem;
  height: 1rem;
  fill: currentColor;
}

body main section {
  position: absolute;
  width: 100%;
  top: 4.5rem;
  height: calc(100% - 4.5rem);
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main section #Editor {
  width: 100%;
  height: 100% !important;
}

body main section #Editor .ck.ck-toolbar {
  border: none;
  border-bottom: 1px solid var(--ck-color-toolbar-border) !important;
  padding-top: 1rem;
}

body main section #Editor #editor {
  height: calc(100% - 4.5rem) !important;
}

body main section #Editor #editor.ck-focused {
  border: none !important;
}

@media (max-width: 768px) {
  body main nav .header-project-section {
    display: none;
  }
  body main nav div.logo-section {
    margin-left: .5rem !important;
  }
  body main nav div.controls {
    margin-right: .5rem !important;
  }
  body main section #Editor .ck.ck-toolbar {
    padding-top: 0rem !important;
  }
  body .settings {
    width: calc(100% - 2.5rem) !important;
    top: 1rem !important;
    left: 50% !important;
    -webkit-transform: translate(-50%, 0%) !important;
            transform: translate(-50%, 0%) !important;
    padding: 1rem .7rem !important;
    max-height: 90% !important;
  }
  body .settings .options .option {
    padding: 1rem .5rem !important;
    width: 100% !important;
  }
}
/*# sourceMappingURL=site.css.map */